<!DOCTYPE html>
<html lang='pt-br'>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
  <meta http-equiv='x-ua-compatible' content='ie=edge'>
  <%= stylesheet_link_tag    'application', 'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <title>Admin Area | RCMS</title>
</head>
<body>

<!-- Top -->
<div class='row-top'>

  <div class='container'>

    <div class='row'>
      <nav class='col-sm-12 nav-top'>
        <div class='col-sm-3'>Admin Area</div>
        <div class='col-sm-6'></div>
        <div class='col-sm-2 text-xs-right'>
          Minha Conta
        </div>
      </nav>
    </div>

  </div>

</div>


<!-- Main content — models CRUD -->
<div class='row-content'>

  <div class='container'>

    <div class='row'>

      <nav class='col-sm-3 nav-left'>
        <ul class='nav nav-pills nav-stacked'>
          <li class='nav-item'><a href='#' class='nav-link'>Início</a></li>
          <li class='nav-item'><a href='#' class='nav-link'>Usuários</a></li>
          <li class='nav-item'>
            <%= link_to 'Post Categories', admin_post_categories_path,
              class: "nav-link #{active_css_class('admin/post_categories')}" %>
          </li>
          <li class='nav-item'>
            <%= link_to 'Posts', admin_posts_path,
              class: "nav-link #{active_css_class('admin/posts')}" %>
          </li>
          <li class='nav-item'><a href='#' class='nav-link'>Notícias</a></li>
          <li class='nav-item'><a href='#' class='nav-link disabled'>Videos</a></li>
          <li class='nav-item'><a href='#' class='nav-link'>Contatos</a></li>
        </ul>
      </nav> <!-- .nav-left -->

      <section class='col-sm-9 model crud'>
        <%= yield %>
      </section>

    </div> <!-- .row -->

  </div> <!-- .container -->

</div> <!-- .row-content -->


<!-- Footer -->
<div class='row-footer'>

  <div class='row'>
    <footer class='col-sm-12 text-xs-center'>
      <p>Superbits Inc. <%= Time.now.strftime '%Y' %> — Use the force!</p>
    </footer>
  </div>

</div>


</body>
</html>

